/* Circe Regular */
@font-face {
    font-display: swap; 
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Circe-Regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* Circe Bold */
  @font-face {
    font-display: swap; 
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/Circe-Bold.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }